#archives {
  padding: 2rem;
}
#archives .header {
  width: 50%;
  color: #fff;
  background-color: #8ecdff;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 0.2rem;
}
#archives .header .iconfont {
  color: #fff;
}
#archives .wrap {
  margin-bottom: 1rem;
}
#archives .meta a {
  color: #fff;
  padding: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.3rem;
  background-color: #42a5f5;
}
#archives .year {
  margin-top: 1rem;
  margin-left: 1.7rem;
}
#archives .year .item {
  padding: 1rem;
  border-left: 1px solid #dbdbdb;
}
#archives .year .item .photo {
  width: 5rem;
  height: 5rem;
  border-radius: 0.2rem;
  margin-right: 1rem;
  overflow: hidden;
  box-shadow: 0 1px 2px #ccc;
}
#archives .year .item .photo a {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
}
#archives .year .item .content {
  flex: 1;
}
#archives .year .item .meta-item {
  color: #7a7a7a;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
#archives .year .item .title a {
  color: #242424;
  font-size: 1rem;
}
#archives .year .item .title a:hover {
  color: #42a5f5;
}
#archives .year .item:before {
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #dbdbdb;
  margin-left: -1.35rem;
  margin-right: 2rem;
}
