.categories .title {
  font-size: 2rem;
}
.categories .list {
  margin-top: 1.75rem;
}
.categories .list li {
  list-style-type: none;
  padding: 1rem;
}
.categories .list li sup {
  padding: 0.1rem;
  margin-left: 0.3rem;
  border: 1px solid #e0e0e0;
  font-size: 0.625rem;
}
.categories .list .posts .post {
  margin-top: 1rem;
}
